*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
div.item{
    width: 300px;
    min-height: 300px;
    background-color: yellow;
}

/* PSEUDO-ELEMENTOS */
/* Siempre es necesario el content */

div.item::before{
    content:"";
    background-color: blue;
    display: block;
    height: 2px;
    width: 50px;
}
div.item::after{
    content: "";
    /* Hacer linea */
    background-color: red;
    display: block;
    height: 2px;
    width: 50px;
}