*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

div.cabecera{
    width: 100%;
    min-height: 50px;
    background-color: aqua;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    
   }
div.cabecera div.logo-cabecera{
    width: 20%;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
div.cabecera div.menu{
    width: 70%;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
   
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    gap: 20px;

}
div.cabecera div.menu div.item{
    
    text-transform: uppercase;

}

div.container-pixar{
    width: 100%;
    min-height: 600px;
    
    background-color: bisque;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;




}
div.container-pixar div.logo-pixar{

    width: 70%;
    min-height: 400px;
    background-color: aqua;

}

div.films{
    width: 80%;
    background-color: blue;
    text-align: center;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;


    margin: 100px auto;
    gap: 30px;
    
}
div.films div.item-film{
    width: calc(100%/3);
    

}
div.films div.item-film div.image-film{

    min-height: 200px;
    background-color: antiquewhite;

}
   
div.films div.item-film div.footer-film{

    margin: 20px auto;
    background-color: red;
    
}

div.footer-rss{
    width: 100%;
    background-color: blueviolet;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    



}
div.footer-rss div.item-red{
    width: calc(80%/4);
    margin: 20px;
}


