*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.cabecera{
    width: 100%;
    background-color: aquamarine;
}
.cabecera__wrapper{
    min-height: 100px;
    display: flex;
    flex-flow: row nowrap;  
    justify-content:flex-start ;
    align-items: center;
}
.cabecera__logo{ 
    margin: 0 25px;
}
.cabecera__menu{
    display: flex;
    flex-grow: 2;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.cabecera__boton{
    margin: 0 25px;
    padding: 15px 25px;
    border: 1px solid black;

}
.banner{
    width: 100%;
    background-color: bisque;
}
.banner__contenido{
    display: flex;
    flex-flow: column nowrap;
    min-height: 400px;
    
}
.banner__logo{
    font-size:150px;
    font-weight: 700;
    letter-spacing: 0.50em;
    word-spacing: 0.50em;
    margin: auto;

}
.banner__primerafecha{
    margin:10px 25px ;
    font-weight: 400;
}
.banner_segundafecha{
    margin: 10px 25px;
    font-weight: 800;
}
.banner_segundafecha::before{
 
}
.contenedor{
    width: 100%;
    padding: 80px;
}
.contenedor__titulo{
    font-size: 50px;
    border-bottom: 2px solid black ;
}
.contenedor__wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;


}
.contenedor__columnas{
    margin: 30px;

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bold;
    font-size: larger;
}
.contenedor__imagen{
    min-height: 300px;
    min-width: 450px;
    border: 1px solid black;
    background-color:bisque;
}

@media(max-width:768px){
    .cabecera__menu{
        display: none;
    }
    .cabecera__logo{
        margin: auto;
    }

}

