*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
div#caja1{
    width: 90%;
    height: 200px;
    background-color: blue;

    margin: 50px auto;
    padding: 50px;
    border: 20px solid red;
}
div.cuadrado{
    width: 70%;
    min-height: 200px;
    background-color: aquamarine;

    margin: auto;
    padding: 20px;
    border: 20px solid gray;
}